{{#if user }}
<div class="card shadow mb-4">
  <div class="card-body">
    <h2 class="card-title">Bienvenido</h2>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Nombre: </strong>{{user.first_name}}</p>
        <p><strong>Apellido: </strong>{{user.last_name}}</p>
        <p><strong>Edad: </strong>{{user.age}}</p>
      </div>
      <div class="col-md-6">
        <p><strong>Email: </strong>{{user.email}}</p>
        <p><strong>Rol: </strong>{{user.role}}</p>
      </div>
    </div>
  </div>
</div>
{{/if}}